@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Slabo+27px);






body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Raleway', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Raleway', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Montserrat', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Montserrat', sans-serif;
}
.btn {
  border-radius: 1.6em;
}
.mbr-subscribe .btn {
  border-radius: 1.6em !important;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Lora', serif;
}
.mbr-author-name {
  font-family: 'Montserrat', sans-serif;
}
.mbr-author-desc {
  font-family: 'Lora', serif;
}
.mbr-plan-title {
  font-family: 'Montserrat', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Lora', serif;
}
.bg-primary {
  background-color: #7e9b9f !important;
}
.bg-success {
  background-color: #f28281 !important;
}
.bg-info {
  background-color: #00a885 !important;
}
.bg-warning {
  background-color: #c0a375 !important;
}
.bg-danger {
  background-color: #7e9b9f !important;
}
.btn-primary {
  background-color: #7e9b9f;
  border-color: #7e9b9f;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #597478;
  border-color: #597478;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #597478 !important;
  border-color: #597478 !important;
}
.btn-secondary {
  background-color: #f7da64;
  border-color: #f7da64;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #f3c91b;
  border-color: #f3c91b;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #f3c91b !important;
  border-color: #f3c91b !important;
}
.btn-info {
  background-color: #00a885;
  border-color: #00a885;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #005c48;
  border-color: #005c48;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #005c48 !important;
  border-color: #005c48 !important;
}
.btn-success {
  background-color: #f28281;
  border-color: #f28281;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #eb3d3c;
  border-color: #eb3d3c;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #eb3d3c !important;
  border-color: #eb3d3c !important;
}
.btn-warning {
  background-color: #c0a375;
  border-color: #c0a375;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #a07e49;
  border-color: #a07e49;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #a07e49 !important;
  border-color: #a07e49 !important;
}
.btn-danger {
  background-color: #7e9b9f;
  border-color: #7e9b9f;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #597478;
  border-color: #597478;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #597478 !important;
  border-color: #597478 !important;
}
.btn-primary-outline {
  background: none;
  border-color: #4e6669;
  color: #4e6669;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #7e9b9f;
  border-color: #7e9b9f;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #7e9b9f !important;
  border-color: #7e9b9f !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #e9bd0c;
  color: #e9bd0c;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #f7da64;
  border-color: #f7da64;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #f7da64 !important;
  border-color: #f7da64 !important;
}
.btn-info-outline {
  background: none;
  border-color: #004234;
  color: #004234;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #00a885;
  border-color: #00a885;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #00a885 !important;
  border-color: #00a885 !important;
}
.btn-success-outline {
  background: none;
  border-color: #e82625;
  color: #e82625;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #f28281;
  border-color: #f28281;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #f28281 !important;
  border-color: #f28281 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #8e7041;
  color: #8e7041;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #c0a375;
  border-color: #c0a375;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #c0a375 !important;
  border-color: #c0a375 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #4e6669;
  color: #4e6669;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #7e9b9f;
  border-color: #7e9b9f;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #7e9b9f !important;
  border-color: #7e9b9f !important;
}
.text-primary {
  color: #7e9b9f !important;
}
.text-success {
  color: #f28281 !important;
}
.text-info {
  color: #00a885 !important;
}
.text-warning {
  color: #c0a375 !important;
}
.text-danger {
  color: #7e9b9f !important;
}
.alert-success {
  background-color: #f28281;
}
.alert-info {
  background-color: #00a885;
}
.alert-warning {
  background-color: #c0a375;
}
.alert-danger {
  background-color: #7e9b9f;
}
.btn-social {
  border-color: #7e9b9f;
}
.btn-social:hover {
  background: #7e9b9f;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #7e9b9f;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #7e9b9f;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #7e9b9f;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #7e9b9f;
}
.lead a,
.lead a:hover {
  color: #7e9b9f;
}
.lead blockquote {
  border-color: #7e9b9f;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #c7d4d5;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #28ffd2;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #e8ddcd;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #c7d4d5;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #7e9b9f;
}
.extCountdown1 .number,
.extCountdown2 .number {
  font-family: 'Montserrat', sans-serif;
}
.extCountdown1 .period,
.extCountdown2 .period {
  font-family: 'Lora', serif;
}
.extCountdown1 .dot,
.extCountdown2 .dot {
  font-family: 'Montserrat', sans-serif;
}
.features6 .feature-subtitle {
  font-family: 'Lora', serif;
}
.features6 .feature-title {
  font-family: 'Montserrat', sans-serif;
}
.features6 .description {
  font-family: 'Raleway', sans-serif;
}
.count,
.counter-title {
  font-family: 'Montserrat', sans-serif;
}
.counter-subtitle {
  font-family: 'Lora', serif;
}
.mbr-iconfont-counters1 {
  color: #7e9b9f;
}
.extHeader1 .container h3,
.extHeader2 .container h3,
.extHeader3 .container h3,
.extHeader5 .container h3,
.extHeader6 .container h3,
.extHeader7 .container h3,
.extHeader8 .container h3,
.extHeader9 .container h3,
.extHeader10 .container h3,
.extHeader12 .container h3,
.extHeader13 .container h3,
.extFeatures10 .container h3 {
  font-family: 'Montserrat', sans-serif;
}
.extHeader1 .container p,
.extHeader2 .container p,
.extHeader3 .container p,
.extHeader5 .container p,
.extHeader6 .container p,
.extHeader7 .container p,
.extHeader8 .container p,
.extHeader9 .container p,
.extHeader10 .container p,
.extHeader12 .container p,
.extHeader13 .container p,
.extFeatures10 .container p {
  font-family: 'Lora', serif;
}
.extHeader5 .container label {
  font-family: 'Lora', serif;
}
.extHeader9 form p.form-subtitle {
  font-family: 'Montserrat', sans-serif;
}
.extHeader11 .container span {
  font-family: 'Montserrat', sans-serif;
}
.extHeader11 .container p.element {
  font-family: 'Montserrat', sans-serif;
}
.extHeader11 .container p {
  font-family: 'Lora', serif;
}
.extHeader12 h4,
.extFeatures10 h4 {
  font-family: 'Montserrat', sans-serif;
}
.extHeader12 .subtitle,
.extFeatures10 .subtitle {
  font-family: 'Lora', serif;
}
.extHeader13 h4 {
  font-family: 'Montserrat', sans-serif;
}
.extHeader13 .number {
  font-family: 'Montserrat', sans-serif;
}
.extHeader13 .period {
  font-family: 'Lora', serif;
}
.extHeader13 .dot {
  font-family: 'Montserrat', sans-serif;
}
.extFeatures .feature-title {
  font-family: 'Montserrat', sans-serif;
}
.extFeatures .feature-subtitle {
  font-family: 'Lora', serif;
}
.extFeatures .feature-text {
  font-family: 'Raleway', sans-serif;
}
.extFeatures2 h4 {
  font-family: 'Montserrat', sans-serif;
}
.extFeatures3 .border-wrap {
  border-color: #7e9b9f;
}
.extFeatures4 h4,
.extFeatures6 h4,
.extFeatures5 .card-title h4 {
  font-family: 'Montserrat', sans-serif;
}
.extFeatures4 h5,
.extFeatures6 h5,
.extFeatures5 .card-title h5 {
  font-family: 'Lora', serif;
}
.extForm1 h4,
.extForm2 h4,
.extForm3 h4,
.extForm4 h4 {
  font-family: 'Montserrat', sans-serif;
}
.extForm1 .subtitle,
.extForm2 .subtitle,
.extForm3 .subtitle,
.extForm4 .subtitle {
  font-family: 'Lora', serif;
}
.extForm2 .container h3 {
  font-family: 'Montserrat', sans-serif;
}
.extForm2 .container p {
  font-family: 'Lora', serif;
}
.extPricingTable1 .bottom_line {
  border-bottom-color: #7e9b9f;
}
.extPricingTable1 .mbr-price small {
  font-family: 'Lora', serif;
}
.extPricingTable1 .mbr-plan-label {
  background: #7e9b9f;
}
.extCounters2 h4 {
  font-family: 'Montserrat', sans-serif;
}
.extCounters2 h5 {
  font-family: 'Lora', serif;
}
.extCounters3 .count {
  font-family: 'Montserrat', sans-serif;
}
.extCounters3 .counter-title {
  font-family: 'Montserrat', sans-serif;
}
.extCounters3 .counter-subtitle {
  font-family: 'Lora', serif;
}
.extProgressBar .progress-primary[value]::-webkit-progress-value {
  background-color: #7e9b9f;
}
.extProgressBar .progress-primary[value]::-moz-progress-bar {
  background-color: #7e9b9f;
}
@media screen and (min-width: 0\0) {
  .extProgressBar .progress-primary .progress-bar {
    background-color: #7e9b9f;
  }
}
.extProgressBar .title-wrap {
  font-family: 'Lora', serif;
}
.extProgressBarRound .progress-radial .overlay {
  font-family: 'Montserrat', sans-serif;
}
.extProgressBar4 .feature-title {
  font-family: 'Montserrat', sans-serif;
}
.extProgressBar4 .feature-subtitle {
  font-family: 'Lora', serif;
}
.extTabs1 ul.nav-tabs li a:hover,
.extTabs2 ul.nav-tabs li a:hover {
  color: #7e9b9f;
}
.extAccordion1 .panel-heading a {
  font-family: 'Raleway', sans-serif;
}
.extAccordion1 .pseudoPlus,
.extAccordion2 .pseudoPlus,
.extToggle1 .pseudoPlus,
.extAccordion1 .pseudoPlus:after,
.extAccordion2 .pseudoPlus:after,
.extToggle1 .pseudoPlus:after,
.extAccordion1 .pseudoMinus,
.extAccordion2 .pseudoMinus,
.extToggle1 .pseudoMinus {
  background-color: #7e9b9f;
}
.extAccordion2 .panel-heading a,
.extAccordion3 .panel-heading a,
.extToggle1 .panel-heading a {
  font-family: 'Raleway', sans-serif;
}
.extProgressBar5 .progress-primary[value]::-webkit-progress-value {
  background-color: #7e9b9f;
}
.extProgressBar5 .progress-primary[value]::-moz-progress-bar {
  background-color: #7e9b9f;
}
@media screen and (min-width: 0\0) {
  .extProgressBar5 .progress-primary .progress-bar {
    background-color: #7e9b9f;
  }
}
.extProgressBar5 .title-wrap {
  font-family: 'Lora', serif;
}
.extMsg-box1 .container h3 {
  font-family: 'Montserrat', sans-serif;
}
.extMsg-box1 .container p {
  font-family: 'Lora', serif;
}
.extMsg-box1 h4 {
  font-family: 'Montserrat', sans-serif;
}
.extMsg-box1 .subtitle {
  font-family: 'Lora', serif;
}
.extMsg-box2 .container span,
.extMsg-box3 .container span,
.extMsg-box4 .container span {
  font-family: 'Montserrat', sans-serif;
}
.extMsg-box2 .container p,
.extMsg-box3 .container p,
.extMsg-box4 .container p {
  font-family: 'Lora', serif;
}
.extProgressBarRound .pie_progress__number {
  font-family: 'Montserrat', sans-serif;
}
.extMenu1 span.icon a:hover {
  color: #7e9b9f !important;
}
.extProgressBar .progress-primary[value]::-ms-fill {
  color: #7e9b9f;
}
.extProgressBar5 .progress-primary[value]::-ms-fill {
  color: #7e9b9f;
}
.theme-border {
  border: 1px solid #7e9b9f;
}
#msg-box7-31 .mbr-section-title,
#msg-box7-31 .lead p {
  color: #fff;
}
#menu-1b .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1b .navbar-caption {
  color: #ffffff;
  font-family: 'Indie Flower', cursive;
  font-size: 32px;
}
#menu-1b .navbar-toggler {
  color: #ffffff;
}
#menu-1b .close-icon::before,
#menu-1b .close-icon::after {
  background-color: #ffffff;
}
#menu-1b .link,
#menu-1b .dropdown-item {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#menu-1b .link {
  font-size: 1.25rem;
}
#menu-1b .dropdown-item,
#menu-1b .nav-dropdown-sm .link {
  font-size: 1.354rem;
}
#menu-1b .link:hover,
#menu-1b .dropdown-item:hover,
#menu-1b .link:focus,
#menu-1b .dropdown-item:focus {
  color: #7e9b9f;
}
#menu-1b .link[aria-expanded="true"],
#menu-1b .dropdown-menu {
  background: #648286;
}
#menu-1b .nav-dropdown-sm .link:focus,
#menu-1b .nav-dropdown-sm .link:hover,
#menu-1b .nav-dropdown-sm .dropdown-item:focus,
#menu-1b .nav-dropdown-sm .dropdown-item:hover {
  background: #759498!important;
}
#menu-1b .navbar,
#menu-1b .nav-dropdown-sm,
#menu-1b .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1b .nav-dropdown-sm .dropdown-menu {
  background: #7e9b9f;
}
#menu-1b .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1b .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1b .bg-color.transparent.opened .link:hover,
#menu-1b .bg-color.transparent.opened .link:focus {
  color: #7e9b9f;
}
#menu-1b .link[aria-expanded="true"],
#menu-1b .dropdown-item[aria-expanded="true"] {
  color: #7e9b9f!important;
}
#menu-1b .btn {
  font-size: 17px;
  font-family: 'Oswald', sans-serif;
}
#form1-20 .form-control-label {
  color: #232323;
}
#social-buttons3-3e .mbr-section-title,
#social-buttons3-3e .btn-social {
  color: #fff;
}



#msg-box8-2i .mbr-section-title,
#msg-box8-2i p {
  color: #fff;
}
#menu-3h .hide-buttons .nav-btn {
  display: none !important;
}
#menu-3h .navbar-caption {
  color: #ffffff;
  font-family: 'Indie Flower', cursive;
  font-size: 32px;
}
#menu-3h .navbar-toggler {
  color: #ffffff;
}
#menu-3h .close-icon::before,
#menu-3h .close-icon::after {
  background-color: #ffffff;
}
#menu-3h .link,
#menu-3h .dropdown-item {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#menu-3h .link {
  font-size: 1.25rem;
}
#menu-3h .dropdown-item,
#menu-3h .nav-dropdown-sm .link {
  font-size: 1.354rem;
}
#menu-3h .link:hover,
#menu-3h .dropdown-item:hover,
#menu-3h .link:focus,
#menu-3h .dropdown-item:focus {
  color: #7e9b9f;
}
#menu-3h .link[aria-expanded="true"],
#menu-3h .dropdown-menu {
  background: #648286;
}
#menu-3h .nav-dropdown-sm .link:focus,
#menu-3h .nav-dropdown-sm .link:hover,
#menu-3h .nav-dropdown-sm .dropdown-item:focus,
#menu-3h .nav-dropdown-sm .dropdown-item:hover {
  background: #759498!important;
}
#menu-3h .navbar,
#menu-3h .nav-dropdown-sm,
#menu-3h .nav-dropdown-sm .link[aria-expanded="true"],
#menu-3h .nav-dropdown-sm .dropdown-menu {
  background: #7e9b9f;
}
#menu-3h .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-3h .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-3h .bg-color.transparent.opened .link:hover,
#menu-3h .bg-color.transparent.opened .link:focus {
  color: #7e9b9f;
}
#menu-3h .link[aria-expanded="true"],
#menu-3h .dropdown-item[aria-expanded="true"] {
  color: #7e9b9f!important;
}
#menu-3h .btn {
  font-size: 17px;
  font-family: 'Oswald', sans-serif;
}
#social-buttons3-4h .mbr-section-title,
#social-buttons3-4h .btn-social {
  color: #fff;
}




#menu-2o .hide-buttons .nav-btn {
  display: none !important;
}
#menu-2o .navbar-caption {
  color: #ffffff;
  font-family: 'Indie Flower', cursive;
  font-size: 32px;
}
#menu-2o .navbar-toggler {
  color: #ffffff;
}
#menu-2o .close-icon::before,
#menu-2o .close-icon::after {
  background-color: #ffffff;
}
#menu-2o .link,
#menu-2o .dropdown-item {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#menu-2o .link {
  font-size: 1.25rem;
}
#menu-2o .dropdown-item,
#menu-2o .nav-dropdown-sm .link {
  font-size: 1.354rem;
}
#menu-2o .link:hover,
#menu-2o .dropdown-item:hover,
#menu-2o .link:focus,
#menu-2o .dropdown-item:focus {
  color: #7e9b9f;
}
#menu-2o .link[aria-expanded="true"],
#menu-2o .dropdown-menu {
  background: #648286;
}
#menu-2o .nav-dropdown-sm .link:focus,
#menu-2o .nav-dropdown-sm .link:hover,
#menu-2o .nav-dropdown-sm .dropdown-item:focus,
#menu-2o .nav-dropdown-sm .dropdown-item:hover {
  background: #759498!important;
}
#menu-2o .navbar,
#menu-2o .nav-dropdown-sm,
#menu-2o .nav-dropdown-sm .link[aria-expanded="true"],
#menu-2o .nav-dropdown-sm .dropdown-menu {
  background: #7e9b9f;
}
#menu-2o .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-2o .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-2o .bg-color.transparent.opened .link:hover,
#menu-2o .bg-color.transparent.opened .link:focus {
  color: #7e9b9f;
}
#menu-2o .link[aria-expanded="true"],
#menu-2o .dropdown-item[aria-expanded="true"] {
  color: #7e9b9f!important;
}
#menu-2o .btn {
  font-size: 17px;
  font-family: 'Oswald', sans-serif;
}
#header3-2v .mbr-section-title,
#header3-2v .mbr-section-subtitle {
  text-align: center;
}
#header3-2v H3 {
  color: #7e9b9f;
  text-align: right;
  font-family: 'Oswald', sans-serif;
  font-size: 80px;
}
#custom-html-2w {
  /* Type valid CSS here */
}
#custom-html-2w .my-image {
  width: 100%;
}
#social-buttons3-4g .mbr-section-title,
#social-buttons3-4g .btn-social {
  color: #fff;
}



#msg-box7-3g .mbr-section-title,
#msg-box7-3g .lead p {
  color: #fff;
}
#menu-3h .hide-buttons .nav-btn {
  display: none !important;
}
#menu-3h .navbar-caption {
  color: #ffffff;
  font-family: 'Indie Flower', cursive;
  font-size: 32px;
}
#menu-3h .navbar-toggler {
  color: #ffffff;
}
#menu-3h .close-icon::before,
#menu-3h .close-icon::after {
  background-color: #ffffff;
}
#menu-3h .link,
#menu-3h .dropdown-item {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#menu-3h .link {
  font-size: 1.25rem;
}
#menu-3h .dropdown-item,
#menu-3h .nav-dropdown-sm .link {
  font-size: 1.354rem;
}
#menu-3h .link:hover,
#menu-3h .dropdown-item:hover,
#menu-3h .link:focus,
#menu-3h .dropdown-item:focus {
  color: #7e9b9f;
}
#menu-3h .link[aria-expanded="true"],
#menu-3h .dropdown-menu {
  background: #648286;
}
#menu-3h .nav-dropdown-sm .link:focus,
#menu-3h .nav-dropdown-sm .link:hover,
#menu-3h .nav-dropdown-sm .dropdown-item:focus,
#menu-3h .nav-dropdown-sm .dropdown-item:hover {
  background: #759498!important;
}
#menu-3h .navbar,
#menu-3h .nav-dropdown-sm,
#menu-3h .nav-dropdown-sm .link[aria-expanded="true"],
#menu-3h .nav-dropdown-sm .dropdown-menu {
  background: #7e9b9f;
}
#menu-3h .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-3h .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-3h .bg-color.transparent.opened .link:hover,
#menu-3h .bg-color.transparent.opened .link:focus {
  color: #7e9b9f;
}
#menu-3h .link[aria-expanded="true"],
#menu-3h .dropdown-item[aria-expanded="true"] {
  color: #7e9b9f!important;
}
#menu-3h .btn {
  font-size: 17px;
  font-family: 'Oswald', sans-serif;
}
#form1-3k .form-control-label {
  color: #232323;
}
#social-buttons3-3l .mbr-section-title,
#social-buttons3-3l .btn-social {
  color: #fff;
}















#menu-0 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-0 .navbar-caption {
  color: #ffffff;
  font-family: 'Indie Flower', cursive;
  font-size: 32px;
}
#menu-0 .navbar-toggler {
  color: #ffffff;
}
#menu-0 .close-icon::before,
#menu-0 .close-icon::after {
  background-color: #ffffff;
}
#menu-0 .link,
#menu-0 .dropdown-item {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#menu-0 .link {
  font-size: 1.25rem;
}
#menu-0 .dropdown-item,
#menu-0 .nav-dropdown-sm .link {
  font-size: 1.354rem;
}
#menu-0 .link:hover,
#menu-0 .dropdown-item:hover,
#menu-0 .link:focus,
#menu-0 .dropdown-item:focus {
  color: #7e9b9f;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-menu {
  background: #648286;
}
#menu-0 .nav-dropdown-sm .link:focus,
#menu-0 .nav-dropdown-sm .link:hover,
#menu-0 .nav-dropdown-sm .dropdown-item:focus,
#menu-0 .nav-dropdown-sm .dropdown-item:hover {
  background: #759498!important;
}
#menu-0 .navbar,
#menu-0 .nav-dropdown-sm,
#menu-0 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-0 .nav-dropdown-sm .dropdown-menu {
  background: #7e9b9f;
}
#menu-0 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-0 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-0 .bg-color.transparent.opened .link:hover,
#menu-0 .bg-color.transparent.opened .link:focus {
  color: #7e9b9f;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-item[aria-expanded="true"] {
  color: #7e9b9f!important;
}
#menu-0 .btn {
  font-size: 17px;
  font-family: 'Oswald', sans-serif;
}
#content5-3t .mbr-section-title,
#content5-3t p {
  color: #fff;
}
#features3-3s H4 {
  text-align: center;
  font-size: 25px;
}
#features3-3x H4 {
  font-size: 25px;
}
#header3-8 .mbr-section-title,
#header3-8 .mbr-section-subtitle {
  text-align: center;
}
#header3-8 H3 {
  font-family: 'Lora', serif;
  color: #ffffff;
}
#header3-8 SMALL {
  color: #000000;
}
#content2-3v P {
  color: #000000;
  font-family: 'Slabo 27px', serif;
  font-size: 20px;
}
#header3-3z .mbr-section-title,
#header3-3z .mbr-section-subtitle {
  text-align: center;
}
#header3-3z H3 {
  font-family: 'Lora', serif;
  color: #ffffff;
}
#header3-3z SMALL {
  color: #000000;
}
#content2-3w P {
  font-family: 'Slabo 27px', serif;
  font-size: 20px;
}
#header3-41 .mbr-section-title,
#header3-41 .mbr-section-subtitle {
  text-align: center;
}
#header3-41 H3 {
  font-family: 'Lora', serif;
  color: #ffffff;
}
#header3-41 SMALL {
  color: #000000;
}
#content2-3u P {
  font-family: 'Slabo 27px', serif;
  font-size: 20px;
}
#header3-43 .mbr-section-title,
#header3-43 .mbr-section-subtitle {
  text-align: center;
}
#header3-43 H3 {
  font-family: 'Lora', serif;
  color: #ffffff;
}
#header3-43 SMALL {
  color: #000000;
}
#content2-l P {
  font-family: 'Slabo 27px', serif;
  font-size: 20px;
}
#header3-45 .mbr-section-title,
#header3-45 .mbr-section-subtitle {
  text-align: center;
}
#header3-45 H3 {
  font-family: 'Lora', serif;
  color: #ffffff;
}
#header3-45 SMALL {
  color: #000000;
}
#content2-46 P {
  font-family: 'Slabo 27px', serif;
  font-size: 20px;
}
#header3-49 .mbr-section-title,
#header3-49 .mbr-section-subtitle {
  text-align: center;
}
#header3-49 H3 {
  font-family: 'Lora', serif;
  color: #ffffff;
}
#header3-49 SMALL {
  color: #000000;
}
#content2-4a P {
  font-family: 'Slabo 27px', serif;
  font-size: 20px;
}
#extAccordion2-j P {
  color: #000000;
}
#extAccordion2-j H1 {
  color: #000000;
}
#msg-box8-4l .mbr-section-title,
#msg-box8-4l p {
  color: #fff;
}
#social-buttons3-4i .mbr-section-title,
#social-buttons3-4i .btn-social {
  color: #fff;
}
