@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Slabo+27px);







body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Raleway', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Raleway', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Montserrat', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Montserrat', sans-serif;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Lora', serif;
}
.mbr-author-name {
  font-family: 'Montserrat', sans-serif;
}
.mbr-author-desc {
  font-family: 'Lora', serif;
}
.mbr-plan-title {
  font-family: 'Montserrat', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Lora', serif;
}
.bg-primary {
  background-color: #90a878 !important;
}
.bg-success {
  background-color: #90a878 !important;
}
.bg-info {
  background-color: #7e9b9f !important;
}
.bg-warning {
  background-color: #f3c649 !important;
}
.bg-danger {
  background-color: #f28281 !important;
}
.btn-primary {
  background-color: #90a878;
  border-color: #90a878;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #6a8153;
  border-color: #6a8153;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #6a8153 !important;
  border-color: #6a8153 !important;
}
.btn-secondary {
  background-color: #bfcecb;
  border-color: #bfcecb;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #94ada8;
  border-color: #94ada8;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #94ada8 !important;
  border-color: #94ada8 !important;
}
.btn-info {
  background-color: #7e9b9f;
  border-color: #7e9b9f;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #597478;
  border-color: #597478;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #597478 !important;
  border-color: #597478 !important;
}
.btn-success {
  background-color: #90a878;
  border-color: #90a878;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #6a8153;
  border-color: #6a8153;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #6a8153 !important;
  border-color: #6a8153 !important;
}
.btn-warning {
  background-color: #f3c649;
  border-color: #f3c649;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #e1a90f;
  border-color: #e1a90f;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #e1a90f !important;
  border-color: #e1a90f !important;
}
.btn-danger {
  background-color: #f28281;
  border-color: #f28281;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #eb3d3c;
  border-color: #eb3d3c;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #eb3d3c !important;
  border-color: #eb3d3c !important;
}
.btn-primary-outline {
  background: none;
  border-color: #5d7149;
  color: #5d7149;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #90a878;
  border-color: #90a878;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #90a878 !important;
  border-color: #90a878 !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #85a29c;
  color: #85a29c;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #bfcecb;
  border-color: #bfcecb;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #bfcecb !important;
  border-color: #bfcecb !important;
}
.btn-info-outline {
  background: none;
  border-color: #4e6669;
  color: #4e6669;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #7e9b9f;
  border-color: #7e9b9f;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #7e9b9f !important;
  border-color: #7e9b9f !important;
}
.btn-success-outline {
  background: none;
  border-color: #5d7149;
  color: #5d7149;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #90a878;
  border-color: #90a878;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #90a878 !important;
  border-color: #90a878 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #c9970d;
  color: #c9970d;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #f3c649;
  border-color: #f3c649;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #f3c649 !important;
  border-color: #f3c649 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #e82625;
  color: #e82625;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #f28281;
  border-color: #f28281;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #f28281 !important;
  border-color: #f28281 !important;
}
.text-primary {
  color: #90a878 !important;
}
.text-success {
  color: #90a878 !important;
}
.text-info {
  color: #7e9b9f !important;
}
.text-warning {
  color: #f3c649 !important;
}
.text-danger {
  color: #f28281 !important;
}
.alert-success {
  background-color: #90a878;
}
.alert-info {
  background-color: #7e9b9f;
}
.alert-warning {
  background-color: #f3c649;
}
.alert-danger {
  background-color: #f28281;
}
.btn-social {
  border-color: #90a878;
}
.btn-social:hover {
  background: #90a878;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #90a878;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #90a878;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #90a878;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #90a878;
}
.lead a,
.lead a:hover {
  color: #90a878;
}
.lead blockquote {
  border-color: #90a878;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #d0dac6;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #d0dac6;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #c7d4d5;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #90a878;
}
.scrollToTop_wraper {
  opacity: 0 !important;
}
.extCountdown1 .number,
.extCountdown2 .number {
  font-family: 'Montserrat', sans-serif;
}
.extCountdown1 .period,
.extCountdown2 .period {
  font-family: 'Lora', serif;
}
.extCountdown1 .dot,
.extCountdown2 .dot {
  font-family: 'Montserrat', sans-serif;
}
.features6 .feature-subtitle {
  font-family: 'Lora', serif;
}
.features6 .feature-title {
  font-family: 'Montserrat', sans-serif;
}
.features6 .description {
  font-family: 'Raleway', sans-serif;
}
.count,
.counter-title {
  font-family: 'Montserrat', sans-serif;
}
.counter-subtitle {
  font-family: 'Lora', serif;
}
.mbr-iconfont-counters1 {
  color: #90a878;
}
.extHeader1 .container h3,
.extHeader2 .container h3,
.extHeader3 .container h3,
.extHeader5 .container h3,
.extHeader6 .container h3,
.extHeader7 .container h3,
.extHeader8 .container h3,
.extHeader9 .container h3,
.extHeader10 .container h3,
.extHeader12 .container h3,
.extHeader13 .container h3,
.extFeatures10 .container h3 {
  font-family: 'Montserrat', sans-serif;
}
.extHeader1 .container p,
.extHeader2 .container p,
.extHeader3 .container p,
.extHeader5 .container p,
.extHeader6 .container p,
.extHeader7 .container p,
.extHeader8 .container p,
.extHeader9 .container p,
.extHeader10 .container p,
.extHeader12 .container p,
.extHeader13 .container p,
.extFeatures10 .container p {
  font-family: 'Lora', serif;
}
.extHeader5 .container label {
  font-family: 'Lora', serif;
}
.extHeader9 form p.form-subtitle {
  font-family: 'Montserrat', sans-serif;
}
.extHeader11 .container span {
  font-family: 'Montserrat', sans-serif;
}
.extHeader11 .container p.element {
  font-family: 'Montserrat', sans-serif;
}
.extHeader11 .container p {
  font-family: 'Lora', serif;
}
.extHeader12 h4,
.extFeatures10 h4 {
  font-family: 'Montserrat', sans-serif;
}
.extHeader12 .subtitle,
.extFeatures10 .subtitle {
  font-family: 'Lora', serif;
}
.extHeader13 h4 {
  font-family: 'Montserrat', sans-serif;
}
.extHeader13 .number {
  font-family: 'Montserrat', sans-serif;
}
.extHeader13 .period {
  font-family: 'Lora', serif;
}
.extHeader13 .dot {
  font-family: 'Montserrat', sans-serif;
}
.extFeatures .feature-title {
  font-family: 'Montserrat', sans-serif;
}
.extFeatures .feature-subtitle {
  font-family: 'Lora', serif;
}
.extFeatures .feature-text {
  font-family: 'Raleway', sans-serif;
}
.extFeatures2 h4 {
  font-family: 'Montserrat', sans-serif;
}
.extFeatures3 .border-wrap {
  border-color: #90a878;
}
.extFeatures4 h4,
.extFeatures6 h4,
.extFeatures5 .card-title h4 {
  font-family: 'Montserrat', sans-serif;
}
.extFeatures4 h5,
.extFeatures6 h5,
.extFeatures5 .card-title h5 {
  font-family: 'Lora', serif;
}
.extForm1 h4,
.extForm2 h4,
.extForm3 h4,
.extForm4 h4 {
  font-family: 'Montserrat', sans-serif;
}
.extForm1 .subtitle,
.extForm2 .subtitle,
.extForm3 .subtitle,
.extForm4 .subtitle {
  font-family: 'Lora', serif;
}
.extForm2 .container h3 {
  font-family: 'Montserrat', sans-serif;
}
.extForm2 .container p {
  font-family: 'Lora', serif;
}
.extPricingTable1 .bottom_line {
  border-bottom-color: #90a878;
}
.extPricingTable1 .mbr-price small {
  font-family: 'Lora', serif;
}
.extPricingTable1 .mbr-plan-label {
  background: #90a878;
}
.extCounters2 h4 {
  font-family: 'Montserrat', sans-serif;
}
.extCounters2 h5 {
  font-family: 'Lora', serif;
}
.extCounters3 .count {
  font-family: 'Montserrat', sans-serif;
}
.extCounters3 .counter-title {
  font-family: 'Montserrat', sans-serif;
}
.extCounters3 .counter-subtitle {
  font-family: 'Lora', serif;
}
.extProgressBar .progress-primary[value]::-webkit-progress-value {
  background-color: #90a878;
}
.extProgressBar .progress-primary[value]::-moz-progress-bar {
  background-color: #90a878;
}
@media screen and (min-width: 0\0) {
  .extProgressBar .progress-primary .progress-bar {
    background-color: #90a878;
  }
}
.extProgressBar .title-wrap {
  font-family: 'Lora', serif;
}
.extProgressBarRound .progress-radial .overlay {
  font-family: 'Montserrat', sans-serif;
}
.extProgressBar4 .feature-title {
  font-family: 'Montserrat', sans-serif;
}
.extProgressBar4 .feature-subtitle {
  font-family: 'Lora', serif;
}
.extTabs1 ul.nav-tabs li a:hover,
.extTabs2 ul.nav-tabs li a:hover {
  color: #90a878;
}
.extAccordion1 .panel-heading a {
  font-family: 'Raleway', sans-serif;
}
.extAccordion1 .pseudoPlus,
.extAccordion2 .pseudoPlus,
.extToggle1 .pseudoPlus,
.extAccordion1 .pseudoPlus:after,
.extAccordion2 .pseudoPlus:after,
.extToggle1 .pseudoPlus:after,
.extAccordion1 .pseudoMinus,
.extAccordion2 .pseudoMinus,
.extToggle1 .pseudoMinus {
  background-color: #90a878;
}
.extAccordion2 .panel-heading a,
.extAccordion3 .panel-heading a,
.extToggle1 .panel-heading a {
  font-family: 'Raleway', sans-serif;
}
.extProgressBar5 .progress-primary[value]::-webkit-progress-value {
  background-color: #90a878;
}
.extProgressBar5 .progress-primary[value]::-moz-progress-bar {
  background-color: #90a878;
}
@media screen and (min-width: 0\0) {
  .extProgressBar5 .progress-primary .progress-bar {
    background-color: #90a878;
  }
}
.extProgressBar5 .title-wrap {
  font-family: 'Lora', serif;
}
.extMsg-box1 .container h3 {
  font-family: 'Montserrat', sans-serif;
}
.extMsg-box1 .container p {
  font-family: 'Lora', serif;
}
.extMsg-box1 h4 {
  font-family: 'Montserrat', sans-serif;
}
.extMsg-box1 .subtitle {
  font-family: 'Lora', serif;
}
.extMsg-box2 .container span,
.extMsg-box3 .container span,
.extMsg-box4 .container span {
  font-family: 'Montserrat', sans-serif;
}
.extMsg-box2 .container p,
.extMsg-box3 .container p,
.extMsg-box4 .container p {
  font-family: 'Lora', serif;
}
.extProgressBarRound .pie_progress__number {
  font-family: 'Montserrat', sans-serif;
}
.extMenu1 span.icon a:hover {
  color: #90a878 !important;
}
.extProgressBar .progress-primary[value]::-ms-fill {
  color: #90a878;
}
.extProgressBar5 .progress-primary[value]::-ms-fill {
  color: #90a878;
}
.theme-border {
  border: 1px solid #90a878;
}
#menu-1 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1 .navbar-caption {
  color: #ffffff;
}
#menu-1 .navbar-toggler {
  color: #ffffff;
}
#menu-1 .close-icon::before,
#menu-1 .close-icon::after {
  background-color: #ffffff;
}
#menu-1 .link,
#menu-1 .dropdown-item {
  color: #ffffff;
}
#menu-1 .link {
  font-size: 1.3rem;
}
#menu-1 .dropdown-item,
#menu-1 .nav-dropdown-sm .link {
  font-size: 1.408rem;
}
#menu-1 .link:hover,
#menu-1 .dropdown-item:hover,
#menu-1 .link:focus,
#menu-1 .dropdown-item:focus {
  color: #90a878;
}
#menu-1 .link[aria-expanded="true"],
#menu-1 .dropdown-menu {
  background: #77905d;
}
#menu-1 .nav-dropdown-sm .link:focus,
#menu-1 .nav-dropdown-sm .link:hover,
#menu-1 .nav-dropdown-sm .dropdown-item:focus,
#menu-1 .nav-dropdown-sm .dropdown-item:hover {
  background: #88a26f!important;
}
#menu-1 .navbar,
#menu-1 .nav-dropdown-sm,
#menu-1 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1 .nav-dropdown-sm .dropdown-menu {
  background: #90a878;
}
#menu-1 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1 .bg-color.transparent.opened .link:hover,
#menu-1 .bg-color.transparent.opened .link:focus {
  color: #90a878;
}
#menu-1 .link[aria-expanded="true"],
#menu-1 .dropdown-item[aria-expanded="true"] {
  color: #90a878!important;
}
#msg-box8-8 .mbr-section-title,
#msg-box8-8 p {
  color: #fff;
}
#msg-box8-8 .mbr-section-title {
  color: #000000;
}
#extHeader6-9 SPAN {
  color: #ffffff;
}
#extHeader6-9 H3 {
  color: #f3c649;
  font-size: 46px;
  font-family: 'Oswald', sans-serif;
}
#extHeader6-9 DIV {
  font-family: 'Oswald', sans-serif;
}
#header3-e .mbr-section-title,
#header3-e .mbr-section-subtitle {
  text-align: center;
}
#header3-e H3 {
  font-family: 'Lora', serif;
  color: #475577;
}
#header3-e SMALL {
  color: #000000;
}
#features3-b H4 {
  font-size: 30px;
}
#features3-b P {
  font-size: undefinedpx;
  font-family: 'Open Sans', sans-serif;
}
#features3-b .btn {
  font-size: 14px;
}
#form2-c .mbr-section-title {
  color: #efefef;
}
#form2-c .mbr-section-subtitle {
  color: #a0a0a0;
}
#form2-c .btn {
  font-size: 18px;
}
#form1-d .form-control-label {
  color: #000000;
}



#menu-f .hide-buttons .nav-btn {
  display: none !important;
}
#menu-f .navbar-caption {
  color: #ffffff;
}
#menu-f .navbar-toggler {
  color: #ffffff;
}
#menu-f .close-icon::before,
#menu-f .close-icon::after {
  background-color: #ffffff;
}
#menu-f .link,
#menu-f .dropdown-item {
  color: #ffffff;
}
#menu-f .link {
  font-size: 1.3rem;
}
#menu-f .dropdown-item,
#menu-f .nav-dropdown-sm .link {
  font-size: 1.408rem;
}
#menu-f .link:hover,
#menu-f .dropdown-item:hover,
#menu-f .link:focus,
#menu-f .dropdown-item:focus {
  color: #90a878;
}
#menu-f .link[aria-expanded="true"],
#menu-f .dropdown-menu {
  background: #77905d;
}
#menu-f .nav-dropdown-sm .link:focus,
#menu-f .nav-dropdown-sm .link:hover,
#menu-f .nav-dropdown-sm .dropdown-item:focus,
#menu-f .nav-dropdown-sm .dropdown-item:hover {
  background: #88a26f!important;
}
#menu-f .navbar,
#menu-f .nav-dropdown-sm,
#menu-f .nav-dropdown-sm .link[aria-expanded="true"],
#menu-f .nav-dropdown-sm .dropdown-menu {
  background: #90a878;
}
#menu-f .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-f .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-f .bg-color.transparent.opened .link:hover,
#menu-f .bg-color.transparent.opened .link:focus {
  color: #90a878;
}
#menu-f .link[aria-expanded="true"],
#menu-f .dropdown-item[aria-expanded="true"] {
  color: #90a878!important;
}
#msg-box8-g .mbr-section-title,
#msg-box8-g p {
  color: #fff;
}
#msg-box8-g .mbr-section-title {
  color: #000000;
}
#extHeader6-h H3 {
  font-family: 'Oswald', sans-serif;
}
#header3-i .mbr-section-title,
#header3-i .mbr-section-subtitle {
  text-align: center;
}
#header3-i H3 {
  font-family: 'Lora', serif;
  color: #475577;
}
#header3-i SMALL {
  color: #000000;
}
#features3-j H4 {
  font-size: 30px;
}
#features3-j P {
  font-size: undefinedpx;
  font-family: 'Open Sans', sans-serif;
}
#features3-j .btn {
  font-size: 14px;
}
#form2-k .mbr-section-title {
  color: #efefef;
}
#form2-k .mbr-section-subtitle {
  color: #a0a0a0;
}
#form2-k .btn {
  font-size: 18px;
}
#form1-l .form-control-label {
  color: #000000;
}


#menu-t .hide-buttons .nav-btn {
  display: none !important;
}
#menu-t .navbar-caption {
  color: #ffffff;
}
#menu-t .navbar-toggler {
  color: #ffffff;
}
#menu-t .close-icon::before,
#menu-t .close-icon::after {
  background-color: #ffffff;
}
#menu-t .link,
#menu-t .dropdown-item {
  color: #ffffff;
}
#menu-t .link {
  font-size: 1.3rem;
}
#menu-t .dropdown-item,
#menu-t .nav-dropdown-sm .link {
  font-size: 1.408rem;
}
#menu-t .link:hover,
#menu-t .dropdown-item:hover,
#menu-t .link:focus,
#menu-t .dropdown-item:focus {
  color: #90a878;
}
#menu-t .link[aria-expanded="true"],
#menu-t .dropdown-menu {
  background: #77905d;
}
#menu-t .nav-dropdown-sm .link:focus,
#menu-t .nav-dropdown-sm .link:hover,
#menu-t .nav-dropdown-sm .dropdown-item:focus,
#menu-t .nav-dropdown-sm .dropdown-item:hover {
  background: #88a26f!important;
}
#menu-t .navbar,
#menu-t .nav-dropdown-sm,
#menu-t .nav-dropdown-sm .link[aria-expanded="true"],
#menu-t .nav-dropdown-sm .dropdown-menu {
  background: #90a878;
}
#menu-t .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-t .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-t .bg-color.transparent.opened .link:hover,
#menu-t .bg-color.transparent.opened .link:focus {
  color: #90a878;
}
#menu-t .link[aria-expanded="true"],
#menu-t .dropdown-item[aria-expanded="true"] {
  color: #90a878!important;
}
#msg-box8-u .mbr-section-title,
#msg-box8-u p {
  color: #fff;
}
#msg-box8-u .mbr-section-title {
  color: #000000;
}
#msg-box8-1v .mbr-section-title,
#msg-box8-1v p {
  color: #fff;
}
#msg-box8-1v .mbr-section-title {
  font-family: 'Oswald', sans-serif;
}
#gallery4-1w .mbr-gallery-item > div > span {
  text-align: center;
  font-size: 16px;
}
#form2-y .mbr-section-title {
  color: #efefef;
}
#form2-y .mbr-section-subtitle {
  color: #a0a0a0;
}
#form2-y .btn {
  font-size: 18px;
}
#form1-z .form-control-label {
  color: #000000;
}
#form1-z .mbr-section-title {
  font-family: 'Oswald', sans-serif;
}




























#menu-m .hide-buttons .nav-btn {
  display: none !important;
}
#menu-m .navbar-caption {
  color: #ffffff;
}
#menu-m .navbar-toggler {
  color: #ffffff;
}
#menu-m .close-icon::before,
#menu-m .close-icon::after {
  background-color: #ffffff;
}
#menu-m .link,
#menu-m .dropdown-item {
  color: #ffffff;
}
#menu-m .link {
  font-size: 1.3rem;
}
#menu-m .dropdown-item,
#menu-m .nav-dropdown-sm .link {
  font-size: 1.408rem;
}
#menu-m .link:hover,
#menu-m .dropdown-item:hover,
#menu-m .link:focus,
#menu-m .dropdown-item:focus {
  color: #90a878;
}
#menu-m .link[aria-expanded="true"],
#menu-m .dropdown-menu {
  background: #77905d;
}
#menu-m .nav-dropdown-sm .link:focus,
#menu-m .nav-dropdown-sm .link:hover,
#menu-m .nav-dropdown-sm .dropdown-item:focus,
#menu-m .nav-dropdown-sm .dropdown-item:hover {
  background: #88a26f!important;
}
#menu-m .navbar,
#menu-m .nav-dropdown-sm,
#menu-m .nav-dropdown-sm .link[aria-expanded="true"],
#menu-m .nav-dropdown-sm .dropdown-menu {
  background: #90a878;
}
#menu-m .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-m .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-m .bg-color.transparent.opened .link:hover,
#menu-m .bg-color.transparent.opened .link:focus {
  color: #90a878;
}
#menu-m .link[aria-expanded="true"],
#menu-m .dropdown-item[aria-expanded="true"] {
  color: #90a878!important;
}
#msg-box8-n .mbr-section-title,
#msg-box8-n p {
  color: #fff;
}
#msg-box8-n .mbr-section-title {
  color: #000000;
}
#extHeader5-17 H3 {
  color: #f3c649;
  font-family: 'Oswald', sans-serif;
}
#extHeader5-17 P {
  color: #000000;
}
#extHeader5-17 FONT {
  font-size: 21px;
  color: #ffffff;
}
#extHeader5-17 SPAN {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}
#extHeader5-17 .btn {
  font-size: 17px;
}
#extHeader13-18 SPAN {
  font-family: 'Slabo 27px', serif;
  font-size: 22px;
}
#extHeader13-18 H4 {
  font-size: 36px;
  font-family: 'Oswald', sans-serif;
}
#extHeader13-18 H3 {
  font-family: 'Oswald', sans-serif;
}
#header3-1c .mbr-section-title,
#header3-1c .mbr-section-subtitle {
  text-align: center;
}
#header3-1c H3 {
  font-family: 'Montserrat', sans-serif;
}
#custom-html-1e {
  /* Responsive iFrame */
}
#custom-html-1e .responsive-iframe-container {
  position: relative;
  padding-bottom: 30%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
#custom-html-1e .responsive-iframe-container iframe,
#custom-html-1e .vresponsive-iframe-container object,
#custom-html-1e .vresponsive-iframe-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 300px;
}
#msg-box8-1h .mbr-section-title,
#msg-box8-1h p {
  color: #fff;
}
#features3-q H4 {
  font-size: 30px;
}
#features3-q P {
  font-size: undefinedpx;
  font-family: 'Open Sans', sans-serif;
}
#features3-q .btn {
  font-size: 14px;
}
#features3-1i H4 {
  font-size: 30px;
}
#features3-1i P {
  font-size: undefinedpx;
  font-family: 'Open Sans', sans-serif;
}
#features3-1i .btn {
  font-size: 14px;
}
#msg-box8-1j .mbr-section-title,
#msg-box8-1j p {
  color: #fff;
}
#msg-box8-1j .mbr-section-title DIV {
  font-family: 'Oswald', sans-serif;
}
#msg-box8-1j .mbr-section-title {
  font-family: 'Oswald', sans-serif;
}
#content2-1k P {
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
}
#content2-1k UL {
  font-family: 'Slabo 27px', serif;
  font-size: 20px;
}
#msg-box8-1l .mbr-section-title,
#msg-box8-1l p {
  color: #fff;
}
#msg-box8-1l .mbr-section-title {
  font-family: 'Oswald', sans-serif;
}
#content2-1m P {
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
}
#content2-1m UL {
  font-family: 'Slabo 27px', serif;
  font-size: 20px;
}
#msg-box8-1n .mbr-section-title,
#msg-box8-1n p {
  color: #fff;
}
#msg-box8-1n .mbr-section-title {
  font-family: 'Oswald', sans-serif;
}
#content2-1o P {
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
}
#content2-1o UL {
  font-family: 'Slabo 27px', serif;
  font-size: 20px;
}
#msg-box8-1p .mbr-section-title,
#msg-box8-1p p {
  color: #fff;
}
#msg-box8-1p .mbr-section-title DIV {
  font-family: 'Oswald', sans-serif;
}
#content2-1q P {
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
}
#content2-1q UL {
  font-family: 'Slabo 27px', serif;
  font-size: 20px;
}
#msg-box8-1r .mbr-section-title,
#msg-box8-1r p {
  color: #fff;
}
#msg-box8-1r .mbr-section-title {
  font-family: 'Oswald', sans-serif;
}
#content2-1s P {
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
}
#content2-1s UL {
  font-family: 'Slabo 27px', serif;
  font-size: 20px;
}
#msg-box8-1t .mbr-section-title,
#msg-box8-1t p {
  color: #fff;
}
#msg-box8-1t .mbr-section-title {
  font-family: 'Oswald', sans-serif;
}
#content2-1u P {
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
}
#content2-1u UL {
  font-family: 'Slabo 27px', serif;
  font-size: 20px;
}
#form2-r .mbr-section-title {
  color: #efefef;
}
#form2-r .mbr-section-subtitle {
  color: #a0a0a0;
}
#form2-r .btn {
  font-size: 18px;
}
#form1-s .form-control-label {
  color: #000000;
}
#form1-s .mbr-section-title {
  font-family: 'Oswald', sans-serif;
}

#menu-10 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-10 .navbar-caption {
  color: #ffffff;
}
#menu-10 .navbar-toggler {
  color: #ffffff;
}
#menu-10 .close-icon::before,
#menu-10 .close-icon::after {
  background-color: #ffffff;
}
#menu-10 .link,
#menu-10 .dropdown-item {
  color: #ffffff;
}
#menu-10 .link {
  font-size: 1.3rem;
}
#menu-10 .dropdown-item,
#menu-10 .nav-dropdown-sm .link {
  font-size: 1.408rem;
}
#menu-10 .link:hover,
#menu-10 .dropdown-item:hover,
#menu-10 .link:focus,
#menu-10 .dropdown-item:focus {
  color: #90a878;
}
#menu-10 .link[aria-expanded="true"],
#menu-10 .dropdown-menu {
  background: #77905d;
}
#menu-10 .nav-dropdown-sm .link:focus,
#menu-10 .nav-dropdown-sm .link:hover,
#menu-10 .nav-dropdown-sm .dropdown-item:focus,
#menu-10 .nav-dropdown-sm .dropdown-item:hover {
  background: #88a26f!important;
}
#menu-10 .navbar,
#menu-10 .nav-dropdown-sm,
#menu-10 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-10 .nav-dropdown-sm .dropdown-menu {
  background: #90a878;
}
#menu-10 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-10 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-10 .bg-color.transparent.opened .link:hover,
#menu-10 .bg-color.transparent.opened .link:focus {
  color: #90a878;
}
#menu-10 .link[aria-expanded="true"],
#menu-10 .dropdown-item[aria-expanded="true"] {
  color: #90a878!important;
}
#msg-box8-11 .mbr-section-title,
#msg-box8-11 p {
  color: #fff;
}
#msg-box8-11 .mbr-section-title {
  color: #000000;
}
#msg-box8-24 .mbr-section-title,
#msg-box8-24 p {
  color: #fff;
}
#msg-box8-24 .mbr-section-title DIV {
  font-family: 'Oswald', sans-serif;
}
#extFeatures7-26 P {
  font-size: 16px;
}
#extFeatures7-26 H4 {
  font-size: 23px;
}
#extFeatures7-27 P {
  font-size: 16px;
}
#extFeatures7-27 H4 {
  font-size: 23px;
}
#form2-15 .mbr-section-title {
  color: #efefef;
}
#form2-15 .mbr-section-subtitle {
  color: #a0a0a0;
}
#form2-15 .btn {
  font-size: 18px;
}
#form1-16 .form-control-label {
  color: #000000;
}


#menu-1x .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1x .navbar-caption {
  color: #ffffff;
}
#menu-1x .navbar-toggler {
  color: #ffffff;
}
#menu-1x .close-icon::before,
#menu-1x .close-icon::after {
  background-color: #ffffff;
}
#menu-1x .link,
#menu-1x .dropdown-item {
  color: #ffffff;
}
#menu-1x .link {
  font-size: 1.3rem;
}
#menu-1x .dropdown-item,
#menu-1x .nav-dropdown-sm .link {
  font-size: 1.408rem;
}
#menu-1x .link:hover,
#menu-1x .dropdown-item:hover,
#menu-1x .link:focus,
#menu-1x .dropdown-item:focus {
  color: #90a878;
}
#menu-1x .link[aria-expanded="true"],
#menu-1x .dropdown-menu {
  background: #77905d;
}
#menu-1x .nav-dropdown-sm .link:focus,
#menu-1x .nav-dropdown-sm .link:hover,
#menu-1x .nav-dropdown-sm .dropdown-item:focus,
#menu-1x .nav-dropdown-sm .dropdown-item:hover {
  background: #88a26f!important;
}
#menu-1x .navbar,
#menu-1x .nav-dropdown-sm,
#menu-1x .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1x .nav-dropdown-sm .dropdown-menu {
  background: #90a878;
}
#menu-1x .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1x .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1x .bg-color.transparent.opened .link:hover,
#menu-1x .bg-color.transparent.opened .link:focus {
  color: #90a878;
}
#menu-1x .link[aria-expanded="true"],
#menu-1x .dropdown-item[aria-expanded="true"] {
  color: #90a878!important;
}
#msg-box8-1y .mbr-section-title,
#msg-box8-1y p {
  color: #fff;
}
#msg-box8-1y .mbr-section-title {
  color: #000000;
}
#msg-box8-1z .mbr-section-title,
#msg-box8-1z p {
  color: #fff;
}
#msg-box8-1z .mbr-section-title {
  font-family: 'Montserrat', sans-serif;
}
#form2-21 .mbr-section-title {
  color: #efefef;
}
#form2-21 .mbr-section-subtitle {
  color: #a0a0a0;
}
#form2-21 .btn {
  font-size: 18px;
}
#form1-22 .form-control-label {
  color: #000000;
}
#form1-22 .mbr-section-title {
  font-family: 'Oswald', sans-serif;
}
